@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;700&display=swap');

:root {
    --animate-delay: 0.25s !important;
}

main{
    width: 100vw;
    height: 100vh;
}
    

.pantallaPrincipal{
    background-image: url('../res/img/fondo2.webp');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;


}

.titulo{
    position: relative;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 70%;
    margin: 0 auto;
    padding-top: 100px;
    font-family: Nunito;
    font-weight: 500;
}
#tarjeta1 h4{
    text-align: center;
    margin: 0 10px;
}

.subtitulo{
    font-size: x-small;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    justify-content: space-around;
}


.ahorcado{
    text-decoration: underline;
    text-transform: uppercase;
    color: red;

    
}

.contInicio{
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.contInicio2{

    position: absolute;
    top: -1000px;
    left: 100px;

}

.tarjeta{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 40vw;
    height: 35vh;
    background-color: rgb(243, 241, 241);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
    box-shadow: 0 2px 25px rgba(89, 89, 89, 0.5);


}
.ocultar{
    display: none !important;
    
    
}
.esconder{
    visibility: hidden ;
}

.tituloInputPalabra{
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}
.tituloInputPalabra p{
    margin:  15px;
}
.inputPalabra{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.pass{
    width: 75%;
    border-radius: 5px;
    border-width: 0.5px;
}

.leyenda{
    color: red;
    font-size: small;
    margin-left: 15px;
}
.leyOff{
    display: none;
}
.buttonGen{
    padding: 0 20px;
}

.pantallaPrincip{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto auto auto;
    width: 90vw;
    height: 95vh;
    background-color: rgba(243, 241, 241, 0.316);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 2px 25px rgba(89, 89, 89, 0.5);

}

.imgAhorcado{
    width: 277px;
    height: 400px;
    margin-top: 25px;
    background-image: url('../res/img/a0.webp');
    background-size: contain;

}
.Acertijo{
    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    font-size: 2rem;

}
.resultado{
    margin: 0 10px;

}

.seccionLetras{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    max-width: 65%;
}
.seccionLetras input{
    margin: 2px 2px;
    width: 50px;
    
    
}



@media only screen and (max-width: 720px) {

    .pantallaPrincipal{
        background-size: contain ;
    }
    .titulo{
        max-width: 100%;
        margin: 0 auto;
    }
    .tarjeta{
       
        width: 300px;
        height: 250px;
    }
    .imgAhorcado{
        width: 240px;
        height: 350px;
    }
    .Acertijo{
        width: 250px;
    }

    .seccionLetras{

        max-width: 95%;
    }

  }